<div class="top-nav">
  <marquee direction="left">
    Scholarship  Online test ! ✨✨ Scholarship  Online test !!🥳🥳
    </marquee>
</div>
<div>
  <nav class="navbar navbar navbar-expand-lg " >
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Online Test</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

      </div>
    </div>
  </nav>
  <div class="info d-flex flex-row">
    <div class="info-left col-4 m-4 ">
        <h1>we can write some thing here</h1>
    </div>
    <div class="info-right col-md-8 m-4">
      <h1>create sms to mme </h1>
    </div>
  </div>
</div>
<!-- router link -->
<div class="container">
  <app-quiz-app></app-quiz-app>
</div>
